* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 425px;
  min-height: 700px;
  padding-inline: 12px;
  border: 2px solid black;
}

header {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.tab-header {
  width: 100%;
  height: 120px;
  padding: 10px;
  background-color: rgb(5, 255, 172);
  border-radius: 10px;
}

h1,
h3 {
  font-family: "Oswald", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: #000000;
}

.status {
  margin-bottom: 20px;
}

#date {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: #a5a5a5;
}

main {
  max-height: 420px;
  margin: 10px;
}

.tab-create {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-hidden {
  display: none;
}

.create {
  display: none;
  animation: fadeIn 0.5s;
}

.active {
  display: block;
  position: absolute;
  width: 350px;
  height: auto;
  top: 100px;
}

.create-task {
  height: 300px;
  border: 1px solid rgb(142, 142, 142);
  box-shadow: 2px 2px 20px 2px rgb(201, 201, 201);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.close {
  width: 24px;
  height: 20px;
  position: relative;
  left: 300px;
  bottom: 10px;
}

.btn-close {
  background-color: white;
  border: none;
  font-family: "DM Sans", serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.task {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: black;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #a5a5a5;
  margin-bottom: 10px;
}

input:focus,
select:focus {
  outline: none;
}

.level {
  width: 100%;
  margin: 20px 0 30px 0;
}

.form-group,
#category {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #a5a5a5;
  color: #6e6e6e;
}

/* 
.level1 {
  background-color: grey;
}

.level2 {
  background-color: #3cb371;
}

.level3 {
  background-color: rgb(198, 1, 1);
}

.low,
.medium,
.high {
  margin: 5px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: black;
} */

.input-date {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: #6e6e6e;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #a5a5a5;
  margin-bottom: 10px;
}

.btn-submit {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  background-color: #28a745;
  border: none;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: white;
  position: relative;
  left: 25%;
  margin: 10px 0;
}

.btn-submit:hover {
  background-color: #25953f;
}

.dashboard {
  width: 100%;
  height: 660px;
  overflow: hidden;
  position: static;
}

/* .table {
  width: 100%;
  height: auto;
}

tr {
  height: 40px;
  background-color: #eaeaea;
  border-radius: 10px 10px 0 0;
  border: 1px solid #cecece;
  box-shadow: 0 5px 10px rgb(201, 201, 201);
} */

.add-task {
  font-size: 36px;
  display: block;
  color: #2a2a2a;
}

.new-task {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.new {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.new a {
  font-family: "DM Sans", serif;
  font-weight: 200;
  font-size: 38px;
  color: white;
}

footer {
  width: 100%;
  margin-top: 40px;
  border-top: 1.5px solid #cecece;
  position: static;
  float: inline-start;
}

.my-day {
  margin-top: 5px;
  font-family: "Oswald", serif;
  font-size: 14px;
  color: #a5a5a5;
  letter-spacing: 1.2px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
